body{
    height: 795px;
    width: 1660px;
    background-color: yellow;
    display: grid;
    grid-template-areas: 
    "cabeçalho"
    "conteudo"
    "rodape";
    grid-template-columns: 100%;
    grid-template-rows: 25% 65% 10%;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    grid-area: cabeçalho;
    background-color: rgb(76, 171, 76);
}
header img{
    height: 200px;
    width: 200px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
a {
    color: palegoldenrod;
    text-decoration: none;
    
}
a:hover{
    color: gold;
    text-decoration: none;
    background-color: gray;
}

.main{
    grid-area: conteudo;
    display: flex;
    justify-content: space-between;
}
article aside{
flex: 1;
    background-color: rgb(29, 220, 29);
    width: 20%;
}
article section{
flex: 4;
    background-color: greenyellow;
}
footer{
    grid-area: rodape;
    background-color: green;
}
table, th, td{
    border: solid black 3px;
    border-collapse: collapse;
}
table{
    width: 80%;
    margin: 10px 200px;
    margin-top: 70px;
}
td{
    padding: 5px 100px;
}

article section h1{
    margin-left:50%;
}
.gr1{
    height: 200px;
    display: grid;
    grid-template-areas: "h1"
                         "di1"
                         "h2"
                         "di2";
    grid-template-columns:100%;
    grid-template-rows:1fr 10fr 1fr 10fr;                     
}
#h1{
    grid-area: h1;
}
.h1{
    grid-area: h2;
}
.personal-data{
    background-color: red;
    height: 120px;
    width: 88%;
    margin: 10px 100px;
    text-align: center;
    grid-area: di1;
    padding-top: 30px;
    border: rgb(121, 201, 0) solid;
    border-radius: 20px;
}
.professional-data{
    background-color: red;
    height: 120px;
    width: 88%;
    margin: 0px 100px;
    grid-area: di2;
    padding-top: 30px;
    border: rgb(121, 201, 0) solid;
    border-radius: 20px;
}
.dd1{
    width: 1465px;
}
.dd2{
    width: 1465px;
    padding-top: 10px;
}
.dd3{
    width: 1465px;
    padding-top: 10px;
}
#nome{
    width: 500px;
}
#endereco{
    width: 500px;
    margin-left: 51px;
}
#cidade{
    margin-right: 257px;
    margin-left:60px ;

}
#estado{
    width: 100px;
}

.pica{
    width: 700px;
    margin-left: 100px;
    display: grid;
    grid-template-areas: "tra"
                         "for"
                         "esp"
                         "cex";
                         
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 100%;                     
}
#formação{
    grid-area: for;
    width: 200px;

}
#trabalho{
    grid-area: tra;
    width: 100px;

}
#especialização{
    grid-area: esp;
    width: 100px;

}
#curso-extra{
    grid-area: cex;
    width: 100px;

}
